body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro Regular;
  font-size: 20px;
  color: #333;
  line-height: 30px;
}

h1, h2, h3, h4 {
  font-family: Source Sans Pro Semibold;
  color: #858585;
}

h1 {
  font-size: 64px;
  line-height: .9;
  letter-spacing: -3px;
}

h2 {
  font-size: 48px;
  letter-spacing: -2px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

a {
  color: #0000EE;
}

a:hover, a:focus, a:active {
  color: #6cc;
}

main {
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
}

input {
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
}

button, input[type="submit"] {
  display: inline-block;
  background-color: #fd9556;
  background-image: -moz-linear-gradient(top,#fd9556,#c55300);
  background-image: -webkit-linear-gradient(top,#fd9556,#c55300);
  background-image: -ms-linear-gradient(top,#fd9556,#c55300);
  background-image: -o-linear-gradient(top,#fd9556,#c55300);
  background-image: linear-gradient(top,#fd9556,#c55300);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9556',endColorstr='#c55300');
  padding: 5px 10px;
  color: white;
  font-size: 20px;
}

tr {
  border-bottom: 1px solid #e5e5e5;
}

tbody tr:hover, tbody tr:focus {
  background-color: #e5e5e5;
}

tbody tr:last-child {
  border-bottom: 0;
}

td {
  padding: 10px 8px;
}

.primary-menu li, .secondary-menu li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.primary-menu a {
  display: block;
  color: black;
  font-family: Source Sans Pro Regular;
  font-size: 20px;
  letter-spacing: -1px;
  padding: 15px 12px;
}

.primary-menu a:hover, .primary-menu a:focus, .primary-menu a:active {
  color: #f93;
  background: none;
}

.secondary-menu a {
  font-size: 15px;
  color: #989898;
}

.copyright p {
  margin: 0;
  color: #5e5e5e;
  font-size: 14px;
}

/* Drupal */

.form-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.wrappper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
